
body 
{ background-color:
     #e6e6fa; 
    
    color: 
    #191970; }
h1 
{ background-color: 
    #191970; 
    color: 
    #e6e6fa; 
text-align: center;}
h2
 { background-color:
     #aeaed4;
      color: 
      #191970;
    text-align: center; }
   
   
    #wrapper { width: 960px;
        margin-left: auto;
        margin-right: auto; }
        



